@charset "utf-8";

body
{
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
}

p
{
	margin: 0 0 13px;
}

h1
{
	font-size: 36.5px;
}

h2
{
	font-size: 29.5px;
}

h3
{
	font-size: 22.5px;
}

h4
{
	font-size: 16.5px;
}

h5
{
	font-size: 14px;
}

h6
{
	font-size: 12px;
}

h1, h2, h3, h4, h5, h6
{
	color: inherit;
	font-family: inherit;
	font-weight: bold;
	line-height: 20px;
	margin: 10px 0;
	text-rendering: optimizelegibility;
}

h1, h2, h3
{
	line-height: 40px;
}

strong
{
	font-weight: bold;
}

strike
{
	text-decoration: line-through;
}

em
{
	font-style: italic;
}

small
{
	font-size: 12px;
	line-height: 16px;
}

a
{
	color: #f04e37; /*749AB5*/
	text-decoration: none;
}

img
{
	display: block;
}

label {
	font-weight: bold;
}

input[type=text], input[type=password], textarea
{
	width: 100%;
	line-height: 1.4;
	vertical-align: middle;
	font-size: 14px;
	border-radius: 3px;
	border: 1px solid #aaa;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-khtml-box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus
{
	border-color: #66AFE9;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

textarea
{
	resize: vertical;
	min-height: 130px;
}

a:hover
{
	text-decoration: underline;
}

*:focus
{
	outline: 0;
}

.unselectable
{
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
}

.hidden
{
	display: none;
}

.border-box
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-khtml-box-sizing: border-box;
}

.small-btn
{
	padding: 1px 3px;
	font-size: 11px;
}

.small-btn:hover
{
	text-decoration: none;
}

.btn
{
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	padding: 5px 12px;
	text-align: center;
	vertical-align: middle;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	font-weight: bold;
}

.btn-blue
{
	background: #6481E1;
	color: #fff;
}

.btn-blue:hover
{
	background: #3A44BA;
}

.btn-green
{
	background: #39BE01;
	color: #fff;
}

.btn-green:hover
{
	background: #33940A;
}

.btn-yellow
{
	background: #d8a837;
	color: #fff;
}

.btn-yellow:hover
{
	background: #ca9721;
}

.btn-red
{
	background: #f73232;
	color: #fff;
}

.btn-red:hover
{
	background: #b51515;
}

.btn:disabled
{
	background: #aaa;
	cursor: default;
}

.btn:hover
{
	text-decoration: none;
}

.required
{
	color: #f00;
}

.basic-table
{
	width: 100%;
	text-align: center;
}

.basic-table th,
.basic-table td
{
	padding: 10px;
	font-size: 13px;
	text-align: left;
}

.basic-table th
{
	background: #333;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

.basic-table tbody tr:nth-child(even)
{
	background: #f1f1f1;
}

.basic-table tbody tr td:last-child
{
	text-align: right;
}