@charset "utf-8";

.clearfix:after
{
	content: ".";
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
	clear: both;	
}

body
{
	color: #333;
	font-family: 'Open Sans';
}

div#wrapper
{
	width: 750px;
	margin: 50px auto;
	padding: 25px;
}

header#site-header h1 a
{
	display: block;
	text-transform: uppercase;
	font-size: 38px;
	line-height: 38px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #bbb;
	color: inherit;
}

header#site-header h1 a:hover
{
	text-decoration: none;
}

header#content-header
{
	margin-top: 25px;
}

header#content-header h1
{
	font-size: 24px;
	line-height: 24px;
}

div.validation-summary-errors
{
	margin: 10px;
	padding: 10px;
	color: #f00;
	font-size: 13px;
}

div.validation-summary-errors ul
{
	list-style-type: decimal;
}

div.input
{
	margin-bottom: 10px;
}

div.input label
{
	display: block;
}

div.input input[type=text]
{
	display: block;
	float: left;
	width: 300px;
}

div.input span.field-validation-error
{
	display: block;
	float: left;
	line-height: 34px;
	color: #f00;
	margin-left: 10px;
}

form
{
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px dashed #aaa;
}