@charset "utf-8";

.clearfix:after
{
	content: ".";
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
	clear: both;	
}

body
{
	color: #333;
	font-family: 'Open Sans';
}

div#wrapper
{
	width: 750px;
	margin: 50px auto;
	padding: 25px;
}

header#site-header h1 a
{
	display: block;
	text-transform: uppercase;
	font-size: 38px;
	line-height: 38px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #bbb;
	color: inherit;
}

header#site-header h1 a:hover
{
	text-decoration: none;
}

header#content-header
{
	margin-top: 25px;
}

header#content-header h1
{
	font-size: 24px;
	line-height: 24px;
}

div.input
{
	margin-bottom: 10px;
}

div.input input[type=text]
{
	display: block;
	width: 500px;
}

form
{
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px dashed #aaa;
}