@charset "utf-8";

@font-face
{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'),
  url('fonts/Open Sans Extrabold.ttf') format('truetype');
}

@font-face
{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400; 
  src: local('Open Sans'), local('OpenSans'),
  url('fonts/Open Sans.ttf') format('truetype');
}

@font-face
{
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'),
  url('fonts/Josefin Sans.ttf') format('truetype');
}

@font-face
{
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Josefin Sans SemiBold'), local('JosefinSans-SemiBold'),
  url('fonts/Josefin Sans SemiBold.ttf') format('truetype');
}

@font-face
{
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'),
  url('fonts/Josefin Sans Bold.ttf') format('truetype');
}