@model AdventurousContacts.Models.Contact
@using Resources

@{
    ViewBag.Title = Messages.NewContactPageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Messages.NewContactPageHeader</h2>

@Html.Partial("ContactForm", Model)