@model AdventurousContacts.Models.Contact
@using Resources

@{
	ViewBag.Title = Messages.EditContactPageTitle;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Messages.EditContactPageHeader</h2>

@Html.Partial("ContactForm", Model)