@using Resources

@{
	ViewBag.Title = Messages.GeneralErrorPageTitle;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Messages.GeneralErrorPageHeader</h2>

<p>@Messages.GeneralErrorPageContent</p>
