@using Resources

@{
    ViewBag.Title = Messages.HTTP404ErrorPageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Messages.HTTP404ErrorPageHeader</h2>

<p>@Messages.HTTP404ErrorPageContent</p>